<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crossword</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div class="crossword">
            <section class="puzzle-section">
                <div class="puzzle-container">
                    <div style="padding-top: 100%;"></div>
                    <div class="puzzle" data-row="4" data-col="5">
                        <div><i>1</i></div><div><i>2</i></div><div><i>3</i></div><div><i>4</i></div><div><i>5</i></div>
                        <div><i>6</i></div><div></div><div></div><div></div><div></div>
                        <div><i>7</i></div><div></div><div></div><div></div><div></div>
                        <div><i>8</i></div><div></div><div></div><div></div><div></div>
                    </div>
                </div>
                <footer role="contentinfo">"1번째 십자말풀이" - Zye</footer>
            </section>
            <section class="clues">
                <h3 class="h-across">가로</h3>
                <h3 class="h-down">세로</h3>
                <div class="across">
                    <dl>
                        <dt>1</dt><dd>불태우다 = ○○하다</dd>
                        <dt>6</dt><dd>카드에서 1</dd>
                        <dt>7</dt><dd><strong>이 1번째 퍼즐에 꽤 어울리는 단어</strong></dd>
                        <dt>8</dt><dd>'우리들의'를 정겹게 부르는 말</dd>
                    </dl>
                </div>
                <div class="down">                    
                    <dl>
                        <dt>1</dt><dd>아침에 일어나서 1번째로 할 만한 것</dd>
                        <dt>2</dt><dd>기름 <i>('1'이 들어감?)</i></dd>
                        <dt>3</dt><dd>베이스캠프</dd>
                        <dt>4</dt><dd>1호선의 역 중 하나. 신창과 천안 사이</dd>
                        <dt>5</dt><dd>○○ 정말이야?</dd>
                    </dl>
                </div>
            </section>
        </div>
    </main>
    <script src="crossword.js"></script>
</body>
</html>