html, body { margin: 0; padding: 0; }
* { touch-action: manipulation; }

header {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 1;
}

main {
    position: absolute;
    inset: 0;
    z-index: 0;

    margin: 2rem 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: auto;
}

.crossword {
    width: 80%;
    max-width: 60rem;
    height: 100%;
    max-height: 48rem;

    display: grid;
    gap: 0.75rem;
    grid-template-columns: auto 22rem;

    grid-template-areas:
        "puzzle clues";
}


/* ************** */
/* Puzzle Section */
/* ************** */

.puzzle-section {
    grid-area: puzzle;
}
.puzzle-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.puzzle {
    position: absolute;
    inset: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.puzzle > div {
    position: relative;
    margin: 0;
    padding: 0 5%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    container-type: size;
}

/* cell content */
.puzzle > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
    font-size: 5vw;
    font-size: 75cqw;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

/* black */
.puzzle > .b { cursor: default; background-color: black; }
/* transparent */
.puzzle > .t { cursor: default; border: none; }
/* letters of the selected word */
.puzzle > .o { background-color: rgb(135, 185, 250); }
/* selected */
.puzzle > .s { background-color: rgb(128, 128, 231); }

/* cell corner number */
.puzzle > div > h6 {
    position: absolute;
    top: 0;
    left: 0;
    top: 5cqw;
    left: 5cqw;
    margin: 0;
    font-weight: normal;
    font-size: 2vw;
    font-size: 40cqw;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}


/* ************ */
/* Clues Section */
/* ************ */

.clues {
    grid-area: clues;
    overflow: hidden;

    display: grid;
    gap: 0 0.5rem;
    grid-template-rows: 1.625rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "h-across h-down"
        "across down";
}

.clues > h3 {
    margin: 0;
    border-bottom: 1px solid black;
    padding-bottom: 0.125rem;
    font-size: 1rem;
    text-align: center;
}

.clues > .h-across { grid-area: h-across; }
.clues > .h-down { grid-area: h-down; }

.clues > div {
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.clues > .across { grid-area: across; }
.clues > .down { grid-area: down; }

.clues dl {
    margin: 0 0.125rem;
    padding-top: 0.25rem;

    font-size: 0.875rem;
    
    display: grid;
    gap: 0.25rem 0;
    grid-template-columns: 1.375rem 1fr;
}

.clues dt {
    min-width: 0;
    margin: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.25rem 0.125rem 0.25rem 0;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.clues dd {
    min-width: 0;
    margin: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.25rem;
    overflow-wrap: break-word;
    cursor: pointer;
}

/* selected */
.clues .s { background-color: rgb(135, 185, 250); }
/* half-selected */
.clues .h {
    border-radius: 0;
    border-left: 0.3rem solid rgb(135, 185, 250);
}

/* *************************** */
/* Clues Section(small screen) */
/* *************************** */
.mini-clues {
    grid-area: clues;
    display: none;
}


/* ******** */
/* Keyboard */
/* ******** */
.keyboard-container, .keyboard {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.keyboard-container {
    height: 10.5rem;
}
.keyboard {
    background-color: #ccc;
    padding-bottom: 0.5rem;
}
.keyboard > div {
    display: grid;
    gap: 0.25rem;
    height: 3rem;
    margin: 0.25rem 0.1rem;
}
.keyboard-row1 {
    grid-template-columns: repeat(10, 1fr);
}
.keyboard-row2 {
    width: 90%;
    padding-left: 5%;
    grid-template-columns: repeat(9, 1fr);
}
.keyboard-row3 {
    grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
}

.keyboard button {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
}
.keyboard button:hover {
    background-color: #e4e4e4;
}
.keyboard button:active {
    background-color: #ddd;
}


/* ********** */
/* RESPONSIVE */
/* ********** */
@media (max-width: 48rem) {
    .crossword {
        grid-template-columns: auto 11rem;
    }

    .clues {
        grid-area: clues;
        overflow: hidden;
    
        gap: 0.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1.625rem 1fr 1.625rem 1fr;
        grid-template-areas:
        "h-across"
        "across"
        "h-down"
        "down";
    }
}

@media (max-width: 36rem) {
    /* .crossword {
        height: auto;
        margin-top: 0;
        padding: 2rem 0;

        grid-template-columns: auto;
        grid-template-rows: auto auto;
    
        grid-template-areas:
            "puzzle"
            "clues";
    }
    .clues {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.625rem 1fr;
        grid-template-areas:
        "h-across h-down"
        "across down";
    }
    .keyboard button {
        font-size: 1.25rem;
    } */
    main {
        display: block;
        margin: 0;
    }
    .crossword {
        width: 100%;
        grid-template-columns: auto 8rem;
        gap: 0;
    }
    .clues dl {
        margin: 0;
    }
    .clues dt {
        padding: 0.25rem 0;
    }
}

@media (max-height: 48rem) {
    main {
        display: block;
        margin: 0;
    }
    .crossword {
        width: 100%;
        grid-template-columns: auto 8rem;
        gap: 0;
    }
    .clues dl {
        margin: 0;
    }
    .clues dt {
        padding: 0.25rem 0;
    }
}